<div class="group peer hidden text-sidebar-foreground md:block"
     data-state="expanded"
     data-variant="sidebar"
     [attr.data-collapsible]="!sidebar.sidebarOpen() ? 'icon' : ''"
     data-side="left">

  <div class="relative w-(--sidebar-width) bg-transparent transition-[width] duration-200 ease-linear
              group-data-[collapsible=icon]:w-(--sidebar-width-icon)"
       data-slot="sidebar-gap"></div>

  <div class="fixed inset-y-0 left-0 z-10 hidden h-svh w-(--sidebar-width) flex-col border-r bg-sidebar text-sidebar-foreground transition-[left,right,width] duration-200 ease-linear md:flex
               group-data-[collapsible=icon]:w-(--sidebar-width-icon)"
        data-slot="sidebar-container">

    <div class="flex size-full flex-col"
         data-slot="sidebar-inner">

      <a href="/dashboard/overview" class="flex h-14 items-center gap-2 px-4">
        <img src="/logo.png" alt="NG-STARs" class="size-6" />
        <span class="font-semibold text-base">NG-STARs</span>
      </a>

      <div class="flex min-h-0 flex-1 flex-col overflow-auto no-scrollbar group-data-[collapsible=icon]:overflow-hidden p-2 space-y-1">
        <app-nav-main />
      </div>

      <div class="p-2 space-y-1">
        <app-sidebar-support-card />
        <app-nav-user />
      </div>

    </div>
  </div>
</div>
