# Keycloak admin credentials
KEYCLOAK_ADMIN=Master
KEYCLOAK_ADMIN_PASSWORD=Master1234!

# HTTP port
KC_HTTP_PORT=8088

# Keycloak Database (PostgreSQL)
KC_DB=postgres
KC_DB_URL=jdbc:postgresql://localhost:5432/keycloak
KC_DB_USERNAME=keycloak_user
KC_DB_PASSWORD=Keycloak_Pg_2026!
